*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body { 
        background-image:url('../img/bg.jpg');
        background-position:0 0;
        background-repeat:repeat;
 }
.container{   
    margin-top:40px;
    margin-bottom:40px;
    background-color:white;
    height:auto;
    box-shadow: 20px 20px 10px 4px rgba(119, 119, 119, 0.79);
    -moz-box-shadow: 20px 20px 10px 4px rgba(119, 119, 119, 0.79); 
    -webkit-box-shadow: 20px 20px 10px 4px rgba(119, 119, 119, 0.79);
    padding-left:0;
    padding-right:0;
}
.container-fluid{
    padding-left:0px;
    padding-right:0px;
}

.header{
    width:100%;
    height:auto;
}

footer{
    background-color:#E1ECBB;
    width:100%;
    padding:0px;
}

.divcol{
    border:1px solid black;
}

.content{
    background-color:white;
    height:560px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar{
    margin-bottom:0px;
    border:0px;
}

.navbarfooter{
  text-align: center;
}
.navbarfooter ul li a{
  color:black;
}

.navbartop{
    text-align: right;
    padding-right:0px;
    background-image:url('../img/nav.jpg');
    background-repeat:no-repeat;
    background-position:left bottom;
}

.navbartop ul li a{
    background-color:#3E5014;
    color:white;

}

.vertmenu{
    background-color:#ACB88A;
}

/*  to center carousel */

.col-md-12{
    padding-right:0px;
    padding-left:0px;
}
.row{
    margin-right:-15px;
    margin-left:0px;
}

.sidenav li a{
    width:70%;
    margin:5px;
    margin-left:auto;
    margin-right:auto;
    border-width:8px;
    border-radius:15px;
    border:5px groove;
    background-color:#9CA573;
    color:white;
    text-align: center;
    font-size:120%;
    border-right-color:#899077;
    border-left-color:#ASAD8D;
    border-top-color:#ASAD8D;
    border-bottom-color:#899077;
}
.sidenav li.active a{
    background-color:#747c50;
}

.sidenav li.active:hover a{
    background-color:#747c50;
}
.sidenav li:hover a{
    background-color:#747c50;
}
.sidenav li a:visited{
    background-color:#9CA573;
}
.sidenav li a:visited:hover{
    background-color:#747c50;
}
.sidenav li.active a:visited{
    background-color:#747c50;
}
.navbartop li:hover a{
    background-color:#747c50;
}
.navbartop li:hover a:visited{
    background-color:#747c50;
}
.navbartop li a:visited{
    background-color:#3E5014;
}
.navbartop li a{
    border-radius: 10px;
}
.navbarfooter li a{
    border-radius: 10px;
}
.navbarfooter li:hover a{
    background-color:#ACB88A;
}
.navbarfooter li a:visited{
    background-color:#ACB88A;
}
.navbar-header{
    background-color:#ACB88A;
}
.navcol{
    background-color:#ACB88A;
    margin:0px;
    padding-top:30px;
    padding-bottom:30px;
}

.content-footer{
    position:absolute;
    bottom:0;
    left:0;
}
.row-img{
    display:block;
    float:left;
    margin-right:47px;
}
.footer-row-img{
    display:block;
    float:left;
    margin-right:47px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer-img{
    width:70%;
    display: block;  
    margin-right: auto;  
    margin-left: auto;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}